.page {
  font-family: $font-main;

  &--with-nav {
    overflow: hidden;
  }

  &__menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    transform: translateX(-100%);
  }

  &__header {
    margin-bottom: 70px;

    @include tablet {
      margin-bottom: 107px;
      padding: 15px 34px 0;
    }

    @include desktop {
      margin-bottom: 318px;
      padding: 15px 55px 0;
    }
  }

  &__events {
    @include margin;
  }

  &__lecture {
    margin-bottom: 170px;

    @include tablet {
      margin: 0 34px 190px;
    }

    @include desktop {
      margin: 0 0 302px;
    }
  }

  &__gallery {
    @include desktop {
      padding: 0 55px;
    }
  }

  &__footer {
    padding: 50px 20px 0;

    @include tablet {
      padding: 51px 34px 36px;
    }

    @include desktop {
      padding: 48px 55px 35px;
    }
  }

  &__container {
    position: relative;
  }

  &__button-container {
    position: sticky;
    bottom: 50px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-right: 20px;

    @include tablet {
      display: none;
    }
  }

  &__button {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid $color-green;
    border-radius: 50%;
    background-color: $color-white;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
